
@font-face {
    font-family: "supercell";
    src:
      local("supercell"),
      url("supercell-magic.ttf") }

      @font-face {
        font-family: "roboto";
        src:
          local("roboto"),
          url("Roboto-Medium.ttf") }
    
    
body {
    background-color: black;
    overflow: hidden;
    
}


#logo-index {
    width: 500px;
    height: 400px;
}

.indexpage {
    width: 100%;
    height: 93vh;   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttons-index {
display: flex;
justify-content: center;
gap:30px
}

.roomcreate {
    background-color: #0000FF;
    border: none;
    color: #ffffff;
    font-family: "supercell";
    border-radius: 20px;
    width: 200px;
    height: 75px;
 

}

.reglesindex {
    background-color: white;
    
    border-radius: 20px;
    width: 200px;
    height: 75px;
    font-family: "supercell";
    
}

.roomcreate:hover{
    box-shadow: 10px 10px 5px 0px #ffff;
    -webkit-box-shadow: 10px 10px 5px 0px #ffff;  
    -moz-box-shadow: 10px 10px 5px 0px #ffff;
}

.reglesindex:hover  {
    box-shadow: 10px 10px 5px 0px #0000FF;
    -webkit-box-shadow: 10px 10px 5px 0px #0000FF;  
    -moz-box-shadow: 10px 10px 5px 0px #0000FF;
}

footer  {
    bottom: 50;
    height: 7vh;
}

footer p {
    color: white;
    text-align: center;
    font-family: 'roboto', sans-serif;
}